.venv/
__pycache__/
.pytest_cache/

log/
backup/

celery_beat/
celerybeat*

resource/
resource_backup/

tools/*
!tools/.keep

*.sqlite3*

.env


# User settings
config/config.yaml
config/user_settings.ini
